#contenedorPrincipal {
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #789BFF;
    margin: auto 0px;
}

input {
    text-align: center;
}

footer {
    position: absolute;
}

